body {
  background: #000;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: #00ff66;
}

.main-title {
  font-size: 28px;
  color: #00ff66;
  margin-top: 20px;
  text-shadow: 0 0 10px #00ff66;
}

.label {
  margin-top: 25px;
  font-size: 20px;
  color: #00ff66;
  text-shadow: 0 0 6px #00ff66;
}

.input-box {
  width: 80%;
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #00ff66;
  background: transparent;
  color: #00ff66;
  box-shadow: 0 0 10px #00ff66;
}

.start-btn {
  margin-top: 30px;
  padding: 15px 40px;
  font-size: 20px;
  background: #00ff66;
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 15px #00ff66;
}

.footer {
  margin-top: 40px;
  font-size: 18px;
  color: #00ff66;
  text-shadow: 0 0 5px #00ff66;
}
